.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos en la barra */
  padding: 0 24px;
  background-color: #ffffff; /* Color de fondo profundo */
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header img {
  height: 32px; /* Limita el tamaño del logo */
  width: auto;
  margin-right: 16px;
  transition: transform 0.3s ease;
}

.header img:hover {
  transform: scale(1.1); /* Efecto de hover en el logo */
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centra el menú en el header */
}

.menu .ant-menu-item {
  font-size: 16px;
  color: #ffffff;
  padding: 0 20px;
  transition: color 0.3s ease;
}

.menu .ant-menu-item:hover {
  color: #40a9ff; /* Cambia el color al pasar el cursor */
}

.ant-avatar {
  background-color: #0074D9;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ant-avatar:hover {
  transform: scale(1.1); /* Efecto de hover para el avatar */
}

.logout-button {
  background: none;
  border: none;
  color: #007bff; /* Color azul similar a un enlace */
  cursor: pointer;
  font-size: 1em;
  padding: 0;
}

.logout-button:hover {
  color: #0056b3; /* Color de hover */
  text-decoration: underline;
}