.inventory-view, .report-view {
    padding: 16px;
  }
  
  .content-row {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px); /* Ajusta el tamaño del contenido para cubrir la pantalla */
  }
  