.inspection-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2000;
}

.inspection-button {
  flex: 1;
  margin: 0 5px;
  height: 50px; /* Puedes ajustar la altura según tus preferencias */
  font-size: 1.2em;
  font-weight: bold;
}

.inspection-button.good {
  background-color: green;
  border-color: green;
  color: white;
}

.inspection-button.defective {
  background-color: red;
  border-color: red;
  color: white;
}

.circuit-name-input {
  margin-bottom: 16px;
  width: 100%;
}

.inspection-button {
  margin-right: 8px;
}

.inspection-buttons-container {
  padding: 20px;
  text-align: center;
  background: #f0f2f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
