.inspection-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    margin-top: 16px;
  }
  
  .result-good {
    background-color: #4CAF50; /* Verde para resultados buenos */
  }
  
  .result-defective {
    background-color: #FF5252; /* Rojo para resultados defectuosos */
  }
  